body{
    background:#ccc;
    touch-action:none;
    margin:0;
    padding:0;
}
#my-img{
    image-rendering:pixelated;
}
#my-canv{
    border:1px solid black;
    width:100%;
    height:auto;
    image-rendering:pixelated;
}
.but{
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    -khtml-user-select:none;
}
#canv-pad{
    border:1px solid red;
    height:304px;
    width:100%;
    display:flex;
    flex-flow:row nowrap;
    align-items:center;
    justify-content:space-between;
}
#mov-cnv{
    border:1px solid orange;
/*    float:left;*/
}
#jump{
    height:300;
    width:300;
    border:1px solid orange;
/*    float:right;*/
}
